<div class="forgot-password login-page wide-width">

  <!-- Overlay For Sidebars -->
  <div class="overlay" style="display: none;"></div>
  <!-- #END# Overlay For Sidebars -->

  <div class="login-box">
    <div class="logo">
        <a href="javascript:void(0);"><img src="https://d3tvor57efdhti.cloudfront.net/assets/static_images/logo.png"
                alt="EYENAK"></a>
    </div>
    <div class="card">
        <div class="body">
            <p class="alert alert-block alert-danger message_box hide"></p>

            <form id="form" [formGroup]="form" (ngSubmit)="login()">
                <div class="msg">{{'FORGOT_PASSWORD.TITLE' | translate}}</div>
                <mat-form-field class="example-full-width">
                    <span matPrefix>
                        <i class="fa fa-user"></i> &nbsp;
                    </span>
                    <input matInput placeholder="{{'FORGOT_PASSWORD.INPUT_EMAIL' | translate}}" name="email" value="" formControlName="email">
                    <mat-error
                        *ngIf="form.controls.email.hasError('email') &&  !form.controls.email.hasError('required')">
                        {{'FORM.VALIDATION.EMAIL_VALID' | translate}}
                    </mat-error>
                    <mat-error *ngIf="form.controls.email.hasError('required')">
                        {{'FORM.VALIDATION.EMAIL_REQUIRED' | translate}}
                    </mat-error>
                </mat-form-field>
            
                <div class="loginOuter">
            
                    <button mat-raised-button color="primary" [disabled]="load">
                        <span *ngIf="!load">{{'FORGOT_PASSWORD.RESET_BTN' | translate}}</span>
                        <span *ngIf="load"><i class="fa fa-circle-o-notch fa-spin" style="font-size:17px"></i>
                            {{'WAIT' | translate}}
                        </span>
                    </button>


                    <div class=" m-t-20 m-b--5 align-center">
                        <a routerLink="/login">{{'FORGOT_PASSWORD.SIGNIN_BTN' | translate}} </a>
                    </div>
            
                </div>
            </form>

          
        </div>
    </div>
  </div>
</div>