<section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <div class="col-lg-12 recent-activity">
                    <h3>Recent Activity</h3>
                    <div id="events-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <div class="activity-box no_events">
                                    <p class="activity-name">No event found!</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 inbox-container">
                        <div class="header sep_box inbox-heading">
                            <p class="font-32 wid-70">Inbox <span id="current-board-name"></span></p>
                            <div class="header-dropdown messages-switch-warpper">
                                <a href="javascript:void(0);" class="side-txt-normal active change-messages-view" data-type="pending">
                                            Open (<span id="total-messages" data-total="772">772</span>)
                                        </a> /
                                <a href="javascript:void(0);" class="side-txt-normal change-messages-view" data-type="all">All Updates</a>
                            </div>
                        </div>
                        <div id="pending-updates-wrapper" class="row messages-wrapper" data-type="0">
                            <div class="col-md-12">
                                <div class="card message-box viewed" data-ref_id="1625" data-ref_bid="121">
                                    <div class="body">
                                        <div class="header padd_al_btn">
                                            <div class="sep_box">
                                                <div class="user-info">
                                                    <div class="image">
                                                        <img class="profile-dropdown" data-user_id="12" src="https://d3tvor57efdhti.cloudfront.net/assets/uploads/images/SlMGksMe6x9by4LtmnWOi0EPoKWrlx3UkZycIOr515604126289b7197a2cdec838a41f07d028933d0de.png" alt="User">
                                                    </div>
                                                </div>
                                                <div class="p-l-15">
                                                    <h2 class="user_name">Mukesh</h2>
                                                    <ol class="breadcrumb">
                                                        <li>
                                                            <a href="https://htf.eyenak.net/boards/121">
                                                                <i class="fa fa-tag"></i> Android App
                                                            </a>
                                                        </li>
                                                        <li class="active">
                                                            <a href="https://htf.eyenak.net/boards/121/task/806">Android Daily Task Status</a>
                                                        </li>
                                                    </ol>
                                                </div>
                                                <ul class="header-dropdown">
                                                    <li>
                                                        <div class="time">
                                                            <div class="menu-info" data-rel="tooltip" title="Sep 19 at 13:47 PM"><i class="fa fa-clock-o fa-fw"></i>3d</div>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v fa-fw"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right drop_bx">
                                                            <li>
                                                                <a href="javascript:void(0);" class="copy-message-link" data-ref_url="https://htf.eyenak.net/boards/121/task/806">
                                                                    <i class="fa fa-paperclip fa-flip-horizontal fa-lg"></i> Copy link to update
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="mark-message-closed">
                                                                    <i class="fa fa-check"></i> Mask as Closed
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="bookmark-message"><i class="fa fa-bookmark-o fa-fw"></i> Bookmark</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <p>Find the latest Apk:-https://i.diawi.com/dN3ctW</p>
                                            <ul>
                                                <li>In update task section implementing new file picker I have integrated file picker from GitHub but this one not support all type of file.</li>
                                                <li>when user click on file icon in editor toolbar open dialog and showing following list:-</li>
                                                <li>Image -&gt;click on Image and open Image activity and showing Image files listing and user can select only one Image at time after selecting your file showing in editor <br></li>
                                                <li>Audio &nbsp; -&gt;click on Audio and open audio activity and showing audio files listing and user can select only one audio at time after selecting your file showing in editor <br></li>
                                                <li>Video -&gt;click on Video and open Video activity and showing Video files listing and user can select only one Video at time after selecting your file showing in editor <br></li>
                                                <li>Files-&gt;click on Files and open files activity and showing text,pdf,doc,excel ,ppt, etc files listing and user can select only one file at time after selecting your file showing in editor </li>
                                                <li>in coffee app integrating updates app library if updates available for this app , showing dialog to update </li>
                                                <li>this part is on testing mode&nbsp; </li>
                                                <li>and also working on evi Ride <br></li>
                                            </ul>
                                            <p><br></p>
                                            <p>Note:-App is in development phase might be there are chances you can get crash some where which will be fixed in new build if found please share the video of that so that it will be helpful for me to fix it<br></p>
                                        </div>
                                        <div class="expander_toggle show-more-wrapper">
                                            <a href="javascript:void(0);" class="expander_text">
                                                <span class="expander_content">Show More <i class="fa fa-angle-down"></i></span>
                                            </a>
                                        </div>
                                        <div class="card_footer header">
                                            <div class="view-user pull-left">
                                                <a href="javascript:void(0);" class="message-viewers" data-ref_id="1625" data-total_views="13">
                                                    <span>13</span>
                                                    <i class="fa fa-eye fa-fw"></i>
                                                </a>
                                            </div>
                                            <ul class="header-dropdown m-r-0 view-pull-right">
                                                <li>
                                                    <a href="javascript:void(0);" class="like-message" data-ref_id="1625" data-total_likes="0">
                                                        <span></span>
                                                        <i class="fa fa-thumbs-o-up fa-fw"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="reply-message">
                                                        <i class="fa fa-fw fa-reply"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Reply Wrapper -->
                                    <div class="reply-box" data-ref_parent_id="1625" data-ref_bid="121" data-ref_tgid="228" data-ref_tid="806" style="display:none;">
                                        <div class="up-arrow"></div>
                                        <div class="reply_txt_bx">
                                            <div class="reply-messages">
                                            </div>

                                            <!-- Reply Message Box -->
                                            <div class="sep_box m-b-10">
                                                <div class="user-info">
                                                    <div class="image">
                                                        <img src="https://d3tvor57efdhti.cloudfront.net/assets/uploads/images/20839651617371174971566543369.jpg">
                                                    </div>
                                                </div>
                                                <div class="input_bx reply-input-box">
                                                    <textarea name="reply" class="form-control reply_input" rows="1" placeholder="Write a reply..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sep_box m-l-20">
                                            <div class="reply_btn_box">
                                                <button type="button" class="btn bg-deep-purple waves-effect reply-message-btn">Reply</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card message-box viewed" data-ref_id="1615" data-ref_bid="64">
                                    <div class="body">
                                        <div class="header padd_al_btn">
                                            <div class="sep_box">
                                                <div class="user-info">
                                                    <div class="image">
                                                        <img class="profile-dropdown" data-user_id="16" src="https://d3tvor57efdhti.cloudfront.net/assets/uploads/images/GNcKLsSzlMkn93NIVUbsDyZ9hxSbCflekvHyVobj1560412628113a7d2742e3d45c356364e71d68d212.png" alt="User">
                                                    </div>
                                                </div>
                                                <div class="p-l-15">
                                                    <h2 class="user_name">Mahmoud Samir</h2>
                                                    <ol class="breadcrumb">
                                                        <li>
                                                            <a href="https://htf.eyenak.net/boards/64">
                                                                <i class="fa fa-tag"></i> Coffee Power APP
                                                            </a>
                                                        </li>
                                                        <li class="active">
                                                            <a href="https://htf.eyenak.net/boards/64/task/1188">Slip direction</a>
                                                        </li>
                                                    </ol>
                                                </div>
                                                <ul class="header-dropdown">
                                                    <li>
                                                        <div class="time">
                                                            <div class="menu-info" data-rel="tooltip" title="Sep 19 at 10:45 AM"><i class="fa fa-clock-o fa-fw"></i>4d</div>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v fa-fw"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right drop_bx">
                                                            <li>
                                                                <a href="javascript:void(0);" class="copy-message-link" data-ref_url="https://htf.eyenak.net/boards/64/task/1188">
                                                                    <i class="fa fa-paperclip fa-flip-horizontal fa-lg"></i> Copy link to update
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="mark-message-closed">
                                                                    <i class="fa fa-check"></i> Mask as Closed
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="bookmark-message"><i class="fa fa-bookmark-o fa-fw"></i> Bookmark</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="message">
                                            <p>Hello Mr <span><span class="mention-tag" data-mention_id="15">@Manish</span>&nbsp;</span>
                                            </p>
                                            <p>In Arabic screen slip direction is reversed&nbsp;</p>
                                            <p>Kindly check video&nbsp;</p>
                                            <p><a href="https://d3tvor57efdhti.cloudfront.net/message-attachments/htf/7661322610679574561568889925.mp4" target="_blank" class="file-wrapper" data-file_name="SVID_20190919_134313_1.mp4" data-file="7661322610679574561568889925.mp4">SVID_20190919_134313_1.mp4</a><br></p>
                                        </div>
                                        <div class="expander_toggle show-more-wrapper">
                                            <a href="javascript:void(0);" class="expander_text">
                                                <span class="expander_content">Show More <i class="fa fa-angle-down"></i></span>
                                            </a>
                                        </div>
                                        <div class="card_footer header">
                                            <div class="view-user pull-left">
                                                <a href="javascript:void(0);" class="message-viewers" data-ref_id="1615" data-total_views="12">
                                                    <span>12</span>
                                                    <i class="fa fa-eye fa-fw"></i>
                                                </a>
                                            </div>
                                            <ul class="header-dropdown m-r-0 view-pull-right">
                                                <li>
                                                    <a href="javascript:void(0);" class="like-message" data-ref_id="1615" data-total_likes="0">
                                                        <span></span>
                                                        <i class="fa fa-thumbs-o-up fa-fw"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="reply-message">
                                                        <i class="fa fa-fw fa-angle-double-up"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Reply Wrapper -->
                                    <div class="reply-box" data-ref_parent_id="1615" data-ref_bid="64" data-ref_tgid="105" data-ref_tid="1188" style="">
                                        <div class="up-arrow"></div>
                                        <div class="reply_txt_bx">
                                            <div class="reply-messages">
                                                <div class="reply-message-box viewed" data-ref_id="1616">
                                                    <div class="sep_box">
                                                        <div class="user-info">
                                                            <div class="image">
                                                                <img class="profile-dropdown" data-user_id="7" src="https://d3tvor57efdhti.cloudfront.net/assets/uploads/images/dRcFFBH6QU4aGL7dm2u15k3okug3tyQ937cQWeQo1560412628b73aaff98adc32577bfe77cba5af2d1c.png">
                                                            </div>
                                                        </div>
                                                        <div class="message-body-wrapper">
                                                            <div class="user-name-txt">Sumit Kumar</div>
                                                            <div class="input_bx" data-msg="Mr. Mahmoud, this is not a issue...Mr. Ahmed and client asked this to be like this. I have a previous version also where we did it by same way...Client already approved the APP.">
                                                                <p>Mr. Mahmoud, this is not a issue...Mr. Ahmed and client asked this to be like this. I have a previous version also where we did it by same way...Client already approved the APP.</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="reply_footer header">
                                                        <ul class="header-dropdown m-r-0">
                                                            <li>
                                                                <a href="javascript:void(0);" class="time">
                                                                    <div class="menu-info" data-rel="tooltip" title="Sep 19 at 12:02 PM">
                                                                        <i class="fa fa-clock-o fa-fw"></i>3d
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="message-viewers" data-ref_id="1616" data-total_views="12">
                                                                    <span>12</span>
                                                                    <i class="fa fa-eye fa-fw"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="like-message" data-ref_id="1616" data-total_likes="0">
                                                                    <span></span>
                                                                    <i class="fa fa-thumbs-o-up fa-fw"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Reply Message Box -->
                                            <div class="sep_box m-b-10">
                                                <div class="user-info">
                                                    <div class="image">
                                                        <img src="https://d3tvor57efdhti.cloudfront.net/assets/uploads/images/20839651617371174971566543369.jpg">
                                                    </div>
                                                </div>
                                                <div class="input_bx reply-input-box">
                                                    <textarea name="reply" class="form-control reply_input" rows="1" placeholder="Write a reply..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sep_box m-l-20">
                                            <div class="reply_btn_box">
                                                <button type="button" class="btn bg-deep-purple waves-effect reply-message-btn">Reply</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card message-box viewed" data-ref_id="1473" data-ref_bid="20">
                                    <div class="body">
                                        <div class="header padd_al_btn">
                                            <div class="sep_box">
                                                <div class="user-info">
                                                    <div class="image">
                                                        <img class="profile-dropdown" data-user_id="2" src="https://d3tvor57efdhti.cloudfront.net/assets/uploads/images/450146751004167711560281045.jpg" alt="User">
                                                    </div>
                                                </div>
                                                <div class="p-l-15">
                                                    <h2 class="user_name">Ahmed Altaifi</h2>
                                                    <ol class="breadcrumb">
                                                        <li>
                                                            <a href="https://htf.eyenak.net/boards/20">
                                                                <i class="fa fa-tag"></i> Eyenak
                                                            </a>
                                                        </li>
                                                        <li class="active">
                                                            <a href="https://htf.eyenak.net/boards/20/task/1096">color</a>
                                                        </li>
                                                    </ol>
                                                </div>
                                                <ul class="header-dropdown">
                                                    <li>
                                                        <div class="time">
                                                            <div class="menu-info" data-rel="tooltip" title="Sep 09 at 11:27 AM"><i class="fa fa-clock-o fa-fw"></i>2w</div>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown">
                                                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v fa-fw"></i>
                                                        </a>
                                                        <ul class="dropdown-menu pull-right drop_bx">
                                                            <li>
                                                                <a href="javascript:void(0);" class="copy-message-link" data-ref_url="https://htf.eyenak.net/boards/20/task/1096">
                                                                    <i class="fa fa-paperclip fa-flip-horizontal fa-lg"></i> Copy link to update
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="mark-message-closed">
                                                                    <i class="fa fa-check"></i> Mask as Closed
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="bookmark-message"><i class="fa fa-bookmark-o fa-fw"></i> Bookmark</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="message" style="height: 250px; overflow: hidden;">
                                            <p class="compressed">
                                                <a href="https://d3tvor57efdhti.cloudfront.net/message-attachments/htf/86950674039152935601568028415.png" target="_blank" class="file-wrapper" data-file_name="‏لقطة الشاشة ٢٠١٩-٠٩-٠٩ في ٢.٢٤.٢١&nbsp;م.png" data-file="86950674039152935601568028415.png"><img class="task-message-img-file" src="https://d3tvor57efdhti.cloudfront.net/message-attachments/htf/86950674039152935601568028415.png"></a><br></p>
                                        </div>
                                        <div class="expander_toggle show-more-wrapper" style="display: block;">
                                            <a href="javascript:void(0);" class="expander_text">
                                                <span class="expander_content">Show More <i class="fa fa-angle-down"></i></span>
                                            </a>
                                        </div>
                                        <div class="card_footer header">
                                            <div class="view-user pull-left">
                                                <a href="javascript:void(0);" class="message-viewers" data-ref_id="1473" data-total_views="12">
                                                    <span>12</span>
                                                    <i class="fa fa-eye fa-fw"></i>
                                                </a>
                                            </div>
                                            <ul class="header-dropdown m-r-0 view-pull-right">
                                                <li>
                                                    <a href="javascript:void(0);" class="like-message" data-ref_id="1473" data-total_likes="0">
                                                        <span></span>
                                                        <i class="fa fa-thumbs-o-up fa-fw"></i>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0);" class="reply-message">
                                                        <i class="fa fa-fw fa-angle-double-up"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!-- Reply Wrapper -->
                                    <div class="reply-box" data-ref_parent_id="1473" data-ref_bid="20" data-ref_tgid="295" data-ref_tid="1096" style="">
                                        <div class="up-arrow"></div>
                                        <div class="reply_txt_bx">
                                            <div class="reply-messages">
                                                <div class="reply-message-box viewed" data-ref_id="1474">
                                                    <div class="sep_box">
                                                        <div class="user-info">
                                                            <div class="image">
                                                                <img class="" data-user_id="14" src="https://d3tvor57efdhti.cloudfront.net/assets/uploads/images/20839651617371174971566543369.jpg">
                                                            </div>
                                                        </div>
                                                        <div class="message-body-wrapper" style="display: block;">
                                                            <div class="user-name-txt">rajbala</div>
                                                            <div class="input_bx" data-msg="fixed">
                                                                <p>fixed</p>
                                                            </div>
                                                        </div>
                                                        <div class="edit-reply-box">
                                                            <a href="javascript:void(0);" class="btn btn-default edit-message-reply">Edit</a>
                                                            <a href="javascript:void(0);" class="btn btn-default btn-circle-small delete-message message-reply">✕</a>
                                                        </div>
                                                    </div>
                                                    <div class="reply_footer header" style="display: block;">
                                                        <ul class="header-dropdown m-r-0">
                                                            <li>
                                                                <a href="javascript:void(0);" class="time">
                                                                    <div class="menu-info" data-rel="tooltip" title="" data-original-title="Sep 09 at 11:34 AM">
                                                                        <i class="fa fa-clock-o fa-fw"></i>1w
                                                                    </div>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="message-viewers" data-ref_id="1474" data-total_views="12">
                                                                    <span>12</span>
                                                                    <i class="fa fa-eye fa-fw"></i>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="javascript:void(0);" class="like-message" data-ref_id="1474" data-total_likes="0">
                                                                    <span></span>
                                                                    <i class="fa fa-thumbs-o-up fa-fw"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- Reply Message Box -->
                                            <div class="sep_box m-b-10">
                                                <div class="user-info">
                                                    <div class="image">
                                                        <img src="https://d3tvor57efdhti.cloudfront.net/assets/uploads/images/20839651617371174971566543369.jpg">
                                                    </div>
                                                </div>
                                                <div class="input_bx reply-input-box">
                                                    <textarea name="reply" class="form-control reply_input" rows="1" placeholder="Write a reply..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="sep_box m-l-20">
                                            <div class="reply_btn_box">
                                                <button type="button" class="btn bg-deep-purple waves-effect reply-message-btn">Reply</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div id="all-updates-wrapper" class="row messages-wrapper" data-type="1" style="display:none;"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
