<div class="login-page wide-width" style="">

  <!-- Overlay For Sidebars -->
  <div class="overlay" style="display: none;"></div>
  <!-- #END# Overlay For Sidebars -->

  <div class="login-box">
    <div class="card wide-width">
      <div class="body">
        <div class="row">
          <div class="col-xs-12 col-md-7">
            <div class="row">
              <div class="col-xs-12">
                <div class="btn-group btn-group-justified login-lang-switcher">

                  <a  *ngFor="let lng of languages"  (click)="changeLang(lng.code)"
                    class="btn btn-block btn-lg bg-teal waves-effect"   [ngClass]="{'disabled': (currentLang === lng.code)}">{{lng.label}}</a>
                 
                </div>
              </div>
            </div>
            <!-- <p class="alert message_box hide">
              <div class="err-message" [ngClass]="{'err-success':(authMessage && authMessage.status)}" *ngIf="authMessage">
                {{authMessage.message}}</div>
            </p> -->

            <form [formGroup]="loginForm" (ngSubmit)="login()">
              <mat-form-field class="example-full-width">
                <span matPrefix>
                  <i class="fa fa-user"></i> &nbsp;
                </span>
                <input matInput placeholder="{{'LOGIN.INPUT_EMAIL' | translate}}" name="email" value="" formControlName="email">
                <mat-error
                  *ngIf="loginForm.controls.email.hasError('email') &&  !loginForm.controls.email.hasError('required')">
                {{'FORM.VALIDATION.EMAIL_VALID' | translate}}
                </mat-error>
                <mat-error *ngIf="loginForm.controls.email.hasError('required')">
                {{'FORM.VALIDATION.EMAIL_REQUIRED' | translate}}
                </mat-error>
              </mat-form-field>
            
              <mat-form-field class="example-full-width">
              <span matPrefix>
                <i class="fa fa-lock"></i> &nbsp;
              </span>
               
                <input matInput placeholder="{{'LOGIN.INPUT_PASSWORD' | translate}}" value="" type="{{(visible)?'text':'password' }}" formControlName="password">
                <mat-icon matSuffix (click)="visible = !visible" class="cursor-pointer">{{(visible)?'visibility_off':'visibility'
                              }} </mat-icon>
                <mat-error *ngIf="loginForm.controls.password.hasError('required')">
                  {{'FORM.VALIDATION.PASSWORD_REQUIRED' | translate}}
                </mat-error>
              </mat-form-field>
              <div fxLayout="row" fxLayoutAlign="space-between center" class="rembmeBx">
                <div fxFlex="50">
                  &nbsp;
                </div>
                <div fxFlex="50" class="forgpassBx" style="text-align: right">
                  <a routerLink="/forgot-password">{{"LOGIN.FORGOT_PASSWORD" | translate}}</a>
                </div>
              </div>
              <div class="loginOuter">
            
                <button mat-raised-button color="primary" [disabled]="load">
                  <span *ngIf="!load">{{'LOGIN.LOGIN_BTN' | translate}}</span>
                  <span *ngIf="load"><i class="fa fa-circle-o-notch fa-spin" style="font-size:17px"></i> {{'WAIT' | translate}}
                  </span>
                </button>
            
              </div>
            </form>

            <!-- <form id="login-form">
              <input type="hidden" name="_token" value="FGIpMPUGU9GQmUcL57qnC0VPl5hyaI7Dvwd9SWE7">
              <div class="form-group">
                <label>Email</label>
                <div>
                  <div class="form-line">
                    <input type="text" class="form-control login_input" name="email" autofocus="">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label>Password</label>
                <div>
                  <div class="input-group">
                    <div class="form-line">
                      <input type="password" class="form-control login_input" name="password">
                    </div>
                    <span class="input-group-addon">
                      <a href="javascript:void(0);" class="col-black view-password"><i class="fa fa-eye"></i></a>
                    </span>
                  </div>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="row">
                  <div class="col-xs-12 col-md-offset-1 col-md-9">
                    <button id="login-submit" routerLink="/dashboard" class="btn btn-block btn-lg bg-pink waves-effect" type="button">
                      Sign In
                    </button>
                  </div>
                </div>
              </div>
              <p class="text-center">
                <a routerLink="/forgot-password">Forgot Password</a>
              </p>
            </form> -->
          </div>
          <div class="col-xs-12 col-md-5">
            <div class="center-img">
              <img src="https://d3tvor57efdhti.cloudfront.net/assets/uploads/images/68067399321684761191568707850.png"
                alt="Logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 
<div>
  <h2>{{ 'HOME.TITLE' | translate }}</h2>
  <label>
    {{ 'HOME.SELECT' | translate }}
    <select #langSelect (change)="translate.use(langSelect.value)">
      <option *ngFor="let lang of translate.getLangs()" [value]="lang" 
      [selected]="lang === translate.currentLang">
        {{ lang }}</option>
    </select>
  </label>
</div> -->