<section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- Menu -->
            <div class="left-top-menu">
                <a href="https://htf.eyenak.net/dashboard" class="inbox-icon active" data-rel="tooltip" title="" data-placement="bottom" data-original-title="Inbox"><i class="fa fa-envelope left-icon"></i></a>

                <a href="https://htf.eyenak.net/teams" class="team-icon " data-rel="tooltip" data-placement="bottom" title="" data-original-title="Manage Team Members"><i class="fa fa-users left-icon"></i></a>

                <div class="filter-board-icon" data-rel="tooltip" data-placement="bottom" title="Filter Inbox">
                    <a href="jovascript:void();" class="dropdown-toggle" data-toggle="dropdown" role="button"><i class="fa fa-filter left-icon"></i></a>
                    <div class="filter-drop dropdown-menu">
                        <a href="javascript:void(0);" class="filter-close-button"></a>
                        <div class="filter-board-list">
                            <h3 class="card-inside-title font-20">Filter by Board</h3>
                            <div id="inbox-filer-wrapper" class="list-group">
                                <button type="button" class="list-group-item filter-messages-btn" data-id="20" data-name="Eyenak">
                                       <span class="badge bg-blue-new board-20-total" data-total="156">156</span> Eyenak
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="17" data-name="drdsh Tasks">
                                       <span class="badge bg-blue-new board-17-total" data-total="120">120</span> drdsh Tasks
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="7" data-name="Learn Chinese">
                                       <span class="badge bg-blue-new board-7-total" data-total="75">75</span> Learn Chinese
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="32" data-name="Ahli Store">
                                       <span class="badge bg-blue-new board-32-total" data-total="56">56</span> Ahli Store
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="64" data-name="Coffee Power APP">
                                       <span class="badge bg-blue-new board-64-total" data-total="45">45</span> Coffee Power APP
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="99" data-name="KiloWat">
                                       <span class="badge bg-blue-new board-99-total" data-total="39">39</span> KiloWat
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="22" data-name="HTF WebSite">
                                       <span class="badge bg-blue-new board-22-total" data-total="36">36</span> HTF WebSite
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="3" data-name="the issue in eyenak">
                                       <span class="badge bg-blue-new board-3-total" data-total="30">30</span> the issue in eyenak
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="84" data-name="Logistiom">
                                       <span class="badge bg-blue-new board-84-total" data-total="29">29</span> Logistiom
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="61" data-name="App Content">
                                       <span class="badge bg-blue-new board-61-total" data-total="22">22</span> App Content
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="81" data-name="iMasdar">
                                       <span class="badge bg-blue-new board-81-total" data-total="21">21</span> iMasdar
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="121" data-name="Android App">
                                       <span class="badge bg-blue-new board-121-total" data-total="20">20</span> Android App
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="60" data-name="Data Entry">
                                       <span class="badge bg-blue-new board-60-total" data-total="18">18</span> Data Entry
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="15" data-name="Team Tasks">
                                       <span class="badge bg-blue-new board-15-total" data-total="18">18</span> Team Tasks
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="18" data-name="Dlil china">
                                       <span class="badge bg-blue-new board-18-total" data-total="11">11</span> Dlil china
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="83" data-name="Alwsata">
                                       <span class="badge bg-blue-new board-83-total" data-total="10">10</span> Alwsata
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="122" data-name="Data Entry">
                                       <span class="badge bg-blue-new board-122-total" data-total="10">10</span> Data Entry
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="169" data-name="Website Design">
                                       <span class="badge bg-blue-new board-169-total" data-total="10">10</span> Website Design
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="89" data-name="App Content">
                                       <span class="badge bg-blue-new board-89-total" data-total="8">8</span> App Content
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="102" data-name="Coffee power website">
                                       <span class="badge bg-blue-new board-102-total" data-total="8">8</span> Coffee power website
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="147" data-name="APP Design">
                                       <span class="badge bg-blue-new board-147-total" data-total="5">5</span> APP Design
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="62" data-name="Meeting Summary">
                                       <span class="badge bg-blue-new board-62-total" data-total="4">4</span> Meeting Summary
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="44" data-name="Drdsh dashboard">
                                       <span class="badge bg-blue-new board-44-total" data-total="3">3</span> Drdsh dashboard
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="92" data-name="Fish game">
                                       <span class="badge bg-blue-new board-92-total" data-total="3">3</span> Fish game
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="90" data-name="Truck App">
                                       <span class="badge bg-blue-new board-90-total" data-total="3">3</span> Truck App
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="131" data-name="Chat">
                                       <span class="badge bg-blue-new board-131-total" data-total="2">2</span> Chat
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="123" data-name="Content Updates">
                                       <span class="badge bg-blue-new board-123-total" data-total="2">2</span> Content Updates
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="39" data-name="Eviride">
                                       <span class="badge bg-blue-new board-39-total" data-total="2">2</span> Eviride
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="65" data-name="Urban Care">
                                       <span class="badge bg-blue-new board-65-total" data-total="2">2</span> Urban Care
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="129" data-name="Chinese App Design">
                                       <span class="badge bg-blue-new board-129-total" data-total="1">1</span> Chinese App Design
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="130" data-name="Icons">
                                       <span class="badge bg-blue-new board-130-total" data-total="1">1</span> Icons
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="191" data-name="NEW Website">
                                       <span class="badge bg-blue-new board-191-total" data-total="1">1</span> NEW Website
                                   </button>

                                <button type="button" class="list-group-item filter-messages-btn" data-id="97" data-name="Tech Flow">
                                       <span class="badge bg-blue-new board-97-total" data-total="1">1</span> Tech Flow
                                   </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="menu">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 431px;">
                    <ul class="list" style="overflow: hidden; width: auto; height: 431px;">
                        <li>
                            <a class="boards waves-effect waves-block" href="javascript:void(0);">
                                <label><img src="https://d3tvor57efdhti.cloudfront.net/assets/static_images/boards.png" class="img-responsive"></label>
                                <span class="left-menu-heading">Boards</span>
                                <button href="https://htf.eyenak.net/boards/create" class="btn create-btn btn-xs btn-primary waves-effect pull-right m-r-10" data-toggle="modal" data-target="#default_modal">
                                <i class="material-icons">add</i> 
                            </button>
                            </a>
                            <ul class="ml-menu list-menu" style="display: block;">
                                <li>
                                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block menu-boards-wrapper toggled" data-type="1">
                                        <span>
                                        <b>Main</b>
                                    </span>
                                    </a>
                                    <ul id="main-boards-wrapper" class="ml-menu " style="display: block;">
                                        <span class="main-board-options">
                                        <a class="main-board-option active waves-effect waves-block" data-type="1">All</a>
                                        <a class="main-board-option waves-effect waves-block" data-type="2">Subscribed</a>
                                    </span>
                                        <div>
                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="5" data-ref_type="1" data-is_folder="1" data-ref_target="5-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Learn Chinese App</span>
                                                </a>
                                                <ul id="5-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/7" data-ref_id="7" data-ref_type="1" data-name="Learn Chinese" data-is_folder="0" data-ref_target="7-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Learn Chinese</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/62" data-ref_id="62" data-ref_type="1" data-name="Meeting Summary" data-is_folder="0" data-ref_target="62-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Meeting Summary</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/89" data-ref_id="89" data-ref_type="1" data-name="App Content" data-is_folder="0" data-ref_target="89-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">App Content</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/122" data-ref_id="122" data-ref_type="1" data-name="Data Entry" data-is_folder="0" data-ref_target="122-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Data Entry</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/123" data-ref_id="123" data-ref_type="1" data-name="Content Updates" data-is_folder="0" data-ref_target="123-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Content Updates</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/129" data-ref_id="129" data-ref_type="1" data-name="Chinese App Design" data-is_folder="0" data-ref_target="129-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Chinese App Design</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/130" data-ref_id="130" data-ref_type="1" data-name="Icons" data-is_folder="0" data-ref_target="130-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Icons</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="13" data-ref_type="1" data-is_folder="1" data-ref_target="13-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Dlil China</span>
                                                </a>
                                                <ul id="13-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/18" data-ref_id="18" data-ref_type="1" data-name="Dlil china" data-is_folder="0" data-ref_target="18-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Dlil china</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/60" data-ref_id="60" data-ref_type="1" data-name="Data Entry" data-is_folder="0" data-ref_target="60-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Data Entry</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/61" data-ref_id="61" data-ref_type="1" data-name="App Content" data-is_folder="0" data-ref_target="61-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">App Content</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="14" data-ref_type="1" data-is_folder="1" data-ref_target="14-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>HTF</span>
                                                </a>
                                                <ul id="14-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/15" data-ref_id="15" data-ref_type="1" data-name="Team Tasks" data-is_folder="0" data-ref_target="15-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Team Tasks</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/22" data-ref_id="22" data-ref_type="1" data-name="HTF WebSite" data-is_folder="0" data-ref_target="22-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">HTF WebSite</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/66" data-ref_id="66" data-ref_type="1" data-name="HTF App" data-is_folder="0" data-ref_target="66-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">HTF App</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/78" data-ref_id="78" data-ref_type="1" data-name="htf.sa WHMCs Support" data-is_folder="0" data-ref_target="78-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">htf.sa WHMCs Support</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu  menu-sort-handle" data-ref_id="16" data-ref_type="1" data-is_folder="1" data-ref_target="16-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Drdsh.Live</span>
                                                </a>
                                                <ul id="16-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/17" data-ref_id="17" data-ref_type="1" data-name="drdsh Tasks" data-is_folder="0" data-ref_target="17-1-board" class="waves-effect waves-block load-board open-context-menu   " data-target_contextmenu="#board-context-menu">drdsh Tasks</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/44" data-ref_id="44" data-ref_type="1" data-name="Drdsh dashboard" data-is_folder="0" data-ref_target="44-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Drdsh dashboard</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/191" data-ref_id="191" data-ref_type="1" data-name="NEW Website" data-is_folder="0" data-ref_target="191-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">NEW Website</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu  menu-sort-handle" data-ref_id="19" data-ref_type="1" data-is_folder="1" data-ref_target="19-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>EyeNak</span>
                                                </a>
                                                <ul id="19-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/3" data-ref_id="3" data-ref_type="1" data-name="the issue in eyenak" data-is_folder="0" data-ref_target="3-1-board" class="waves-effect waves-block load-board open-context-menu   "
                                                            data-target_contextmenu="#board-context-menu">the issue in eyenak</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/20" data-ref_id="20" data-ref_type="1" data-name="Eyenak" data-is_folder="0" data-ref_target="20-1-board" class="waves-effect waves-block load-board open-context-menu   " data-target_contextmenu="#board-context-menu">Eyenak</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/121" data-ref_id="121" data-ref_type="1" data-name="Android App" data-is_folder="0" data-ref_target="121-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Android App</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/131" data-ref_id="131" data-ref_type="1" data-name="Chat" data-is_folder="0" data-ref_target="131-1-board" class="waves-effect waves-block load-board open-context-menu   " data-target_contextmenu="#board-context-menu">Chat</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="31" data-ref_type="1" data-is_folder="1" data-ref_target="31-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Ahli Store</span>
                                                </a>
                                                <ul id="31-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/32" data-ref_id="32" data-ref_type="1" data-name="Ahli Store" data-is_folder="0" data-ref_target="32-1-board" class="waves-effect waves-block load-board open-context-menu   " data-target_contextmenu="#board-context-menu">Ahli Store</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="38" data-ref_type="1" data-is_folder="1" data-ref_target="38-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Eviride</span>
                                                </a>
                                                <ul id="38-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/39" data-ref_id="39" data-ref_type="1" data-name="Eviride" data-is_folder="0" data-ref_target="39-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Eviride</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="79" data-ref_type="1" data-is_folder="1" data-ref_target="79-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>imasdar App</span>
                                                </a>
                                                <ul id="79-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/81" data-ref_id="81" data-ref_type="1" data-name="iMasdar" data-is_folder="0" data-ref_target="81-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">iMasdar</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="82" data-ref_type="1" data-is_folder="1" data-ref_target="82-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Alwsata</span>
                                                </a>
                                                <ul id="82-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/83" data-ref_id="83" data-ref_type="1" data-name="Alwsata" data-is_folder="0" data-ref_target="83-1-board" class="waves-effect waves-block load-board open-context-menu   " data-target_contextmenu="#board-context-menu">Alwsata</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="91" data-ref_type="1" data-is_folder="1" data-ref_target="91-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Fish Game</span>
                                                </a>
                                                <ul id="91-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/92" data-ref_id="92" data-ref_type="1" data-name="Fish game" data-is_folder="0" data-ref_target="92-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Fish game</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="100" data-ref_type="1" data-is_folder="1" data-ref_target="100-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Waiting Customer</span>
                                                </a>
                                                <ul id="100-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/57" data-ref_id="57" data-ref_type="1" data-name="Soccer" data-is_folder="0" data-ref_target="57-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Soccer</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu  menu-sort-handle" data-ref_id="101" data-ref_type="1" data-is_folder="1" data-ref_target="101-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Coffee powe website</span>
                                                </a>
                                                <ul id="101-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/102" data-ref_id="102" data-ref_type="1" data-name="Coffee power website" data-is_folder="0" data-ref_target="102-1-board" class="waves-effect waves-block load-board open-context-menu   "
                                                            data-target_contextmenu="#board-context-menu">Coffee power website</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/64" data-ref_id="64" data-ref_type="1" data-name="Coffee Power APP" data-is_folder="0" data-ref_target="64-1-board" class="waves-effect waves-block load-board open-context-menu   "
                                                            data-target_contextmenu="#board-context-menu">Coffee Power APP</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="146" data-ref_type="1" data-is_folder="1" data-ref_target="146-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Wafa</span>
                                                </a>
                                                <ul id="146-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/147" data-ref_id="147" data-ref_type="1" data-name="APP Design" data-is_folder="0" data-ref_target="147-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">APP Design</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="168" data-ref_type="1" data-is_folder="1" data-ref_target="168-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>HTF Website Design</span>
                                                </a>
                                                <ul id="168-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/169" data-ref_id="169" data-ref_type="1" data-name="Website Design" data-is_folder="0" data-ref_target="169-1-board" class="waves-effect waves-block load-board open-context-menu   "
                                                            data-target_contextmenu="#board-context-menu">Website Design</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="192" data-ref_type="1" data-is_folder="1" data-ref_target="192-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Finish Project</span>
                                                </a>
                                                <ul id="192-1-boards-wrapper" class="ml-menu"></ul>
                                            </li>

                                            <li>
                                                <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block board-group-btn open-context-menu not-subscribed menu-sort-handle" data-ref_id="209" data-ref_type="1" data-is_folder="1" data-ref_target="209-1-boards-wrapper" data-target_contextmenu="#board-folder-context-menu">
                                                    <i class="material-icons">folder</i>
                                                    <span>Archive</span>
                                                </a>
                                                <ul id="209-1-boards-wrapper" class="ml-menu">
                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/65" data-ref_id="65" data-ref_type="1" data-name="Urban Care" data-is_folder="0" data-ref_target="65-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Urban Care</a>
                                                    </li>

                                                    <li class="">
                                                        <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/97" data-ref_id="97" data-ref_type="1" data-name="Tech Flow" data-is_folder="0" data-ref_target="97-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  "
                                                            data-target_contextmenu="#board-context-menu">Tech Flow</a>
                                                    </li>
                                                </ul>
                                            </li>

                                            <li class="">
                                                <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/84" data-ref_id="84" data-ref_type="1" data-name="Logistiom" data-is_folder="0" data-ref_target="84-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  menu-sort-handle"
                                                    data-target_contextmenu="#board-context-menu">Logistiom</a>
                                            </li>

                                            <li class="">
                                                <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/90" data-ref_id="90" data-ref_type="1" data-name="Truck App" data-is_folder="0" data-ref_target="90-1-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  menu-sort-handle"
                                                    data-target_contextmenu="#board-context-menu">Truck App</a>
                                            </li>

                                            <li class="">
                                                <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/99" data-ref_id="99" data-ref_type="1" data-name="KiloWat" data-is_folder="0" data-ref_target="99-1-board" class="waves-effect waves-block load-board open-context-menu   menu-sort-handle"
                                                    data-target_contextmenu="#board-context-menu">KiloWat</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                                <li class="hide">
                                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block menu-boards-wrapper" data-type="2">
                                        <span><b>Shareable</b></span>
                                        <i class="material-icons small left-menu-icons col-purple">share</i>
                                    </a>
                                    <ul id="shareable-boards-wrapper" class="ml-menu">
                                        <div></div>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block menu-boards-wrapper toggled" data-type="3">
                                        <span><b>Private</b></span>
                                        <i class="material-icons small left-menu-icons col-red">lock</i>
                                    </a>
                                    <ul id="private-boards-wrapper" class="ml-menu" style="display: block;">
                                        <div>
                                            <li class="">
                                                <a href="javascript:void(0);" data-href="https://htf.eyenak.net/boards/50" data-ref_id="50" data-ref_type="3" data-name="rajbala" data-is_folder="0" data-ref_target="50-3-board" class="waves-effect waves-block load-board open-context-menu not-subscribed  menu-sort-handle"
                                                    data-target_contextmenu="#board-context-menu">rajbala</a>
                                            </li>
                                        </div>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 204.358px;"></div>
                    <div class="slimScrollRail" style="width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(51, 51, 51) none repeat scroll 0% 0%; opacity: 0.2; z-index: 90; right: 1px;"></div>
                </div>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; 2016 - 2017 <a href="javascript:void(0);">HTF</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.5
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
        <!-- Right Sidebar -->
        <aside id="rightsidebar" class="right-sidebar">
            <ul class="nav nav-tabs tab-nav-right" role="tablist">
                <li role="presentation" class="active"><a href="#skins" data-toggle="tab">SKINS</a></li>
                <li role="presentation"><a href="#settings" data-toggle="tab">SETTINGS</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade in active in active" id="skins">
                    <ul class="demo-choose-skin">
                        <li data-theme="red" class="active">
                            <div class="red"></div>
                            <span>Red</span>
                        </li>
                        <li data-theme="pink">
                            <div class="pink"></div>
                            <span>Pink</span>
                        </li>
                        <li data-theme="purple">
                            <div class="purple"></div>
                            <span>Purple</span>
                        </li>
                        <li data-theme="deep-purple">
                            <div class="deep-purple"></div>
                            <span>Deep Purple</span>
                        </li>
                        <li data-theme="indigo">
                            <div class="indigo"></div>
                            <span>Indigo</span>
                        </li>
                        <li data-theme="blue">
                            <div class="blue"></div>
                            <span>Blue</span>
                        </li>
                        <li data-theme="light-blue">
                            <div class="light-blue"></div>
                            <span>Light Blue</span>
                        </li>
                        <li data-theme="cyan">
                            <div class="cyan"></div>
                            <span>Cyan</span>
                        </li>
                        <li data-theme="teal">
                            <div class="teal"></div>
                            <span>Teal</span>
                        </li>
                        <li data-theme="green">
                            <div class="green"></div>
                            <span>Green</span>
                        </li>
                        <li data-theme="light-green">
                            <div class="light-green"></div>
                            <span>Light Green</span>
                        </li>
                        <li data-theme="lime">
                            <div class="lime"></div>
                            <span>Lime</span>
                        </li>
                        <li data-theme="yellow">
                            <div class="yellow"></div>
                            <span>Yellow</span>
                        </li>
                        <li data-theme="amber">
                            <div class="amber"></div>
                            <span>Amber</span>
                        </li>
                        <li data-theme="orange">
                            <div class="orange"></div>
                            <span>Orange</span>
                        </li>
                        <li data-theme="deep-orange">
                            <div class="deep-orange"></div>
                            <span>Deep Orange</span>
                        </li>
                        <li data-theme="brown">
                            <div class="brown"></div>
                            <span>Brown</span>
                        </li>
                        <li data-theme="grey">
                            <div class="grey"></div>
                            <span>Grey</span>
                        </li>
                        <li data-theme="blue-grey">
                            <div class="blue-grey"></div>
                            <span>Blue Grey</span>
                        </li>
                        <li data-theme="black">
                            <div class="black"></div>
                            <span>Black</span>
                        </li>
                    </ul>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="settings">
                    <div class="demo-settings">
                        <p>GENERAL SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Report Panel Usage</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Email Redirect</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>SYSTEM SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Notifications</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Auto Updates</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                        <p>ACCOUNT SETTINGS</p>
                        <ul class="setting-list">
                            <li>
                                <span>Offline</span>
                                <div class="switch">
                                    <label><input type="checkbox"><span class="lever"></span></label>
                                </div>
                            </li>
                            <li>
                                <span>Location Permission</span>
                                <div class="switch">
                                    <label><input type="checkbox" checked><span class="lever"></span></label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </aside>
        <!-- #END# Right Sidebar -->
    </section>